<div class="alert alert-danger" role="alert" *ngIf="erro">
  {{erro}}
</div>
<div class="alert alert-success" role="alert" *ngIf="suscesso">
  {{suscesso}}
</div>
<h1>Saque</h1>
<form [formGroup]="form" autocomplete="off">
  <div class="row">
    <div class="col-md-4">
      <app-input id="agencia" placeholder="Digite a agência" label="Agência" formControlName="agencia"
                 [model]="form.get('agencia')"></app-input>
    </div>
    <div class="col-md-4">
      <app-input id="conta" label="Conta" placeholder="Digite o número da conta" formControlName="conta"
                 [model]="form.get('conta')"></app-input>
    </div>
    <div class="col-md-4">
      <app-input-moeda id="valor" placeholder="Digite o valor que deseja sacar" label="Valor" formControlName="valor"
                 [model]="form.get('valor')"></app-input-moeda>
    </div>
  </div>
  <div class="text-center">
    <button (click)="sacar()" class="btn btn-dark" [disabled]="form.invalid">Sacar</button>
  </div>
</form>
