<div class="alert alert-danger" role="alert" *ngIf="erro">
  {{erro}}
</div>
<h1>Consulta Extrato</h1>
<form [formGroup]="form" autocomplete="off">
  <div class="align-content-center">
  <div >
    <div>
      <app-input id="agencia" placeholder="Digite a agência" label="Agência" formControlName="agencia"
                 [model]="form.get('agencia')"></app-input>
    </div>
    <div>
      <app-input id="conta" label="Conta" placeholder="Digite o número da conta" formControlName="conta"
                 [model]="form.get('conta')"></app-input>
    </div>
  </div>
    <div class="text-center">
      <button (click)="consultaLancamento()" class="btn btn-dark" [disabled]="form.invalid">Consulta Extrato
      </button>
    </div>
  </div>
</form>
<br>
<div class="jumbotron" *ngIf="lancamentos">
  <h1 class="text-center">Extrato</h1><br>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Data e Hora</th>
      <th scope="col">Tipo</th>
      <th scope="col">Descrição</th>
      <th scope="col">Valor</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let lancamento of lancamentos">
      <td>{{lancamento.dataHora}}</td>
      <td>{{lancamento.tipo}}</td>
      <td>{{lancamento.descricao}}</td>
      <td>{{lancamento.valor | currency : 'BRL' : 'symbol'}}</td>
    </tr>
    </tbody>
  </table>
</div>
